
body{
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myButton {
	box-shadow:inset 0px 0px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:30px 70px;
	text-decoration:none;
	text-shadow:0px 0px 50px #7cacde;
}
.myButton:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}
.myButton:active {
	position:relative;
	top:1px;
}
.hide {
    display: none;
  }
  
  .btn.correct {
    background-color: rgb(0, 255, 72);
  }
  
  .btn.wrong {
    background-color: rgb(255, 0, 0);
  }