@import url('http://fonts.cdnfonts.com/css/homer-simpson-revised');

body{
    height: 100vh;
	/*filter: invert(1);*/
	margin: auto;
	background-image: url(../assets/logo.png);
	background-position-x: center;
	background-position-y: center;
	background-color: #030000;
    background-repeat: no-repeat;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	font-family: 'Homer Simpson Revised','Dosis', sans-serif;
}

#text-container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
	background-color: #0000007e;
}

span{
	padding: 2rem;
	font-size: 2rem;
	text-align:center;
	color: #E4A014;
}

a{
	all:unset;
	text-decoration: none;
	color: #840600
}

a:hover {
	font-size:35px;
}

#buttons-container{
	padding: 2vh;
}

.myButton {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #ba2f2c 5%, #840700 100%);
	background-color:#ba2f2c;
	border-radius:15px;
	border:2px solid #1a1711;
	display:inline-block;
	cursor:pointer;
	color:#e49f14;
	font-family:'Homer Simpson Revised',Arial;
	font-size:2rem;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
}

.myButton:hover {
	background:linear-gradient(to bottom, #840700 5%, #ba2f2c 100%);
	background-color:#840700;
}

.myButton:active {
	position:relative;
	top:1px;
}

.hide {
    display: none;
}

#question{
	font-size: 5rem;
	font-weight: 900;
	padding: 5rem;

}

#answer-buttons{
	display: flex;
	justify-content: space-around;
	margin-bottom: 3rem;
}

.correct {
	box-shadow:inset 0px 0px 0px 0px #2d6300;
	background:linear-gradient(to bottom, #4e7000 5%, #76ad00 100%);
	background-color:#4e7000;
	border-radius:42px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:30px;
	font-weight:bold;
	padding:30px 70px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
}

.correct:hover {
	background:linear-gradient(to bottom, #76ad00 5%, #4e7000 100%);
	background-color:#76ad00;
}

.correct:active {
	position:relative;
	top:1px;
}
  
.wrong {
    box-shadow:inset 0px 0px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #750c00 5%, #bf0a0a 100%);
	background-color:#750c00;
	border-radius:42px;
	border:1px solid #030000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Homer Simpson Revised',Arial;
	font-size:30px;
	font-weight:bold;
	padding:30px 70px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

.wrong:hover {
	background:linear-gradient(to bottom, #bf0a0a 5%, #750c00 100%);
	background-color:#bf0a0a;
}

.wrong:active {
	position:relative;
	top:1px;
}